*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    padding: 10px;
}

.expand-button{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    font-size: 12px;
    vertical-align: text-top;
}

.form-button{
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background-color: green;
    color: white;
}
.node{
    display: inline-block;
}

form{
    position: relative;
    max-width: 220px;
    margin-bottom: 20px;
}

.error{
    color: red;
}

.form-input {
    position: absolute;
    right: 0;
    border-radius: 5px;
    padding: 3px 5px;
    max-width: 100px;

}

form div{
    margin: 5px 0px;
}

